body{
    background-color: beige;
    display: flex;
    flex-direction: column;
}

body button{
    background-color: rgb(49, 45, 43);
    color: rgb(177, 177, 194);
}

.buttonsContainer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    size: 50px;
}

.selections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}


.PlayerChoosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ComputerChoosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Scores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.result {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.overallContainer{
    margin-top: 25px;
    border-style: solid;
    border-color: black;

}